@import "bootstrap-sprockets";
@import "bootstrap";

#logo {
  font-size: 1.7em;
  float: left;
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: -1px;
  margin-top: 10px;
}

#logo:hover {
  color: #fff;
  text-decoration: none;
}

.jumbotron {
  /* background-image: asset-url("my_profile.jpg"); */
  background-size: contain;
  height: 500px;
}

.jumbotron h1 {
  color: #fff;
  text-align: center;
  font-weight: bold;
}

.center {
  text-align: center;
}
